* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
}

#left, #right  {
    width: 50%;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    flex-direction: column;
    align-items: center;
}
